@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


*,
html {
    margin: 0;
    padding: 0;
}

.body {
}

.container {
    width: 100%;
}

.container-pertama {
    background-image: url('bg1.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 1300px;
    transform: translateY(10px);
}


.navbar {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.ul-navbar {
    display: flex;
    list-style-type: none;
    position: absolute;
    right: 50px;
}

.li-navbar {
    margin: 30px;
}

.a-navbar {
    color: white;
    text-decoration: none;
}

.konten-pertama {
    height: 720px;
}

.kiri {
    position: absolute;
    top: 190px;
    left: 200px;
}

.kiri h1 {
    font-size: 1.1cm;
    font-family: poppins, sans-serif;
    font-weight: 300;
    color: white;
    width: 500px;
}

button {
    width: 290px;
    height: 60px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: white;
}

button p {
    font-size: .4cm;
}

.p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.883);
    font-family: poppins, sans-serif;
    width: 400px;
}

.wa-foto {
    position: absolute;
    left: 260px;
    bottom: 27px;
}

.lingkaran {
    position: absolute;
    left: 890px;
    top: 220px;
}

.orang {
    position: absolute;
    left: 904px;
    top: 250px;
    z-index: 1;
}

/* container 2 */

.container-kedua  {
    height: 80vh;
    width: 100%;
}

.fotokedua {
    width: 80%;
}

.kiri-kedua {
    position: absolute;
    left: 170px;
    margin-top: 160px;
}

.kanan-kedua {
    position: absolute;
    left: 900px;
    margin-top: 130px;
}

.h1-kedua {
    width: 250px;
    font-family: poppins;
    font-weight: 300;
    font-size: 1.2cm;
}

.p-kedua {
    width: 370px;
    font-family: poppins;
    opacity: calc(50%);
}



/* contaier 3 */
.container-ketiga {
    width: 100%;
    height: 100vh;
    background-color: #404040;
}

.kiri-ketiga {
    position: absolute;
    left: 160px;
    margin-top: 145px;
}

.kiri-bawah-ketiga {
    position: absolute;
    left: 160px;
    margin-top: 400px;
}

.h2-ketiga {
    font-family: poppins;
    font-size: 1.4cm;
    font-weight: 400;
    width: 400px;
    color: white;
}

.p-ketiga {
    font-family: poppins;
    width: 430px;
    color: white;
}

.menarik {
    font-family: poppins;
    width: 430px;
    color: white;
    position: relative;
    left: 830px;
    top: 45px;
}

.trafic {
    font-family: poppins;
    width: 430px;
    color: white;
    position: relative;
    left: 830px;
    top: 150px;
}

.lapor {
    font-family: poppins;
    width: 430px;
    color: white;
    position: relative;
    left: 830px;
    top: 90px;
}

.seratus {
    font-size: 2cm;
    color: white;
    font-family: poppins;
    font-weight: 300;
}

.img-panah {
    width: 23px;
    margin-right: 5px;
}

.kepuasan {
    font-size: .5cm;
    color: white;
}

.bawahan {
    display: flex;
    color: white;
}

.img-ketiga {
    width: 6%;
    margin: 60px 0px;
    margin-left: 60px;
}

.foto-kanan {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.judul-kanan-ketiga {
    align-items: center;
}

.h3-ketiga {
    margin: 90px;
}

.foto-ketiga-pertama {
    width: 6%;
    position: absolute;
    margin-top: 40px;
    margin-left: 700px;
}

.foto-ketiga-kedua {
    width: 6%;
    position: absolute;
    margin-top: 260px;
    margin-left: 700px;
}

.foto-ketiga-ketiga {
    width: 6%;
    position: absolute;
    margin-top: 490px;
    margin-left: 700px;
}

.h3-pertama {
    margin-left: 830px;
    position: relative;
    top: 35px;
    color: white;
    font-family: poppins;
    font-weight: 300;
    font-size: .7cm;
}

.h3-kedua {
    margin-left: 830px;
    position: relative;
    top: 140px;
    color: white;
    font-family: poppins;
    font-weight: 300;
    font-size: .7cm;
}

.h3-ketiga {
    margin-left: 830px;
    position: relative;
    top: 170px;
    color: white;
    font-family: poppins;
    font-weight: 300;
    font-size: .7cm;
}

/* container ke-4 */

.container-4 {
    height: 100vh;
    width: 100%;
}

.container-judul-4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: poppins;
}

.container-judul-4 h1 {
    color: #232657;
    margin-top: 60px;
}

.container-judul-4 p {
    margin: 30px 0px;
}

.img-4-1 {
    width: 14%;
    margin-left: 125px;
    margin-top: 30px;
}

.img-4-2 {
    width: 14%;
    margin-left: 125px; 
    margin-top: 60px;  
}

/* container 5 */
.container-5 {
    height: 100vh;
    width: 100%;
    background-color: #404040;
}

.judul-kelima {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: poppins;
}

.judul-kelima h1 {
    color: #F4C21A;
    margin-top: 40px;
}

.judul-kelima p {
    color: #CCC9C1;
    margin-top: 30px;
}

.pricelist {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.isi-1 {
    width: 250px;
    height: 425px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.isi-1 h3 {
    margin-left: 30px;
    margin-top: 30px;
    font-size: .7cm;
    font-family: poppins;
    color: #404040;
}

.isi-1 h2 {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 1.2cm;
    font-family: rajdhani;
    font-weight: 200;
    color: #404040;
}

.isi-1 h5 {
    margin-left: 30px;
    margin-top: 30px;
    font-size: .5cm;
    font-family: poppins;
    font-weight: 400;
    color: #404040;
}

.isi-1 img {
    margin-left: 140px;
    display: flex;
    position: relative;
    top: -27px;
}

.isi-2 {
    width: 250px;
    height: 425px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.isi-2 h3 {
    margin-left: 30px;
    margin-top: 30px;
    font-size: .7cm;
    font-family: poppins;
    color: #404040;
}

.isi-2 h2 {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 1.2cm;
    font-family: rajdhani;
    font-weight: 200;
    color: #404040;
}

.isi-2 h5 {
    margin-left: 30px;
    margin-top: 30px;
    font-size: .5cm;
    font-family: poppins;
    font-weight: 400;
    color: #404040;
}

.isi-2 img {
    margin-left: 140px;
    display: flex;
    position: relative;
    top: -27px;
}

.isi-3 {
    width: 250px;
    height: 425px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.isi-3 h3 {
    margin-left: 30px;
    margin-top: 30px;
    font-size: .7cm;
    font-family: poppins;
    color: #404040;
}

.isi-3 h2 {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 1.2cm;
    font-family: rajdhani;
    font-weight: 200;
    color: #404040;
}

.isi-3 h5 {
    margin-left: 30px;
    margin-top: 30px;
    font-size: .5cm;
    font-family: poppins;
    font-weight: 400;
    color: #404040;
}

.isi-3 img {
    margin-left: 140px;
    display: flex;
    position: relative;
    top: -27px;
}

.footer {
    height: 10%;
    width: 100%;
    background-color: #282828;
    margin-top: 155px;
    color: #9A9696;
    display: flex;
    align-items: center;
}

.footer p {
    display: flex;
    font-family: poppins;
    margin-left: 100px;
}

.footer img{
    width: 70%;
    position: relative;
    left: 800px;
}

#wa-img {
    position: relative;
    left: 850px;
    width: 33px;
    top: -2px;
}

#p-no {
    position: relative;
    left: 770px;
}



/* responsive 1400*/


@media screen and (max-width: 1400px) {
 
    .container {
        width: 100%;
    }
    
    .container-pertama {
        background-image: url('bg1.jpeg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
    }
    
    .logo {
        width: 100px;
        height: 100px;
        position: absolute;
        right: 1200px;
    }
    
    
    .navbar {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: right;
    }
    
    .ul-navbar {
        display: flex;
        list-style-type: none;
        position: absolute;
        right: 50px;
    }
    
    .li-navbar {
        margin: 30px;
    }
    
    .a-navbar {
        color: white;
        text-decoration: none;
    }
    
    .konten-pertama {
        height: 720px;
    }
    
    .kiri {
        position: absolute;
        top: 190px;
        left: 125px;
    }
    
    .kiri h1 {
        font-size: 1.1cm;
        font-family: poppins, sans-serif;
        font-weight: 300;
        color: white;
        width: 500px;
    }
    
    button {
        width: 290px;
        height: 60px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        background-color: white;
    }
    
    button p {
        font-size: .4cm;
    }
    
    .p {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.883);
        font-family: poppins, sans-serif;
        width: 400px;
    }
    
    .wa-foto {
        position: absolute;
        left: 260px;
        bottom: 27px;
    }
    
    .lingkaran {
        position: absolute;
        left: 890px;
        top: 220px;
    }
    
    .orang {
        position: absolute;
        left: 904px;
        top: 250px;
        z-index: 1;
    }
    
    /* container 2 */
    
    .container-kedua  {
        height: 80vh;
        width: 100%;
    }
    
    .fotokedua {
        width: 80%;
    }
    
    .kiri-kedua {
        position: absolute;
        left: 170px;
        margin-top: 160px;
    }
    
    .kanan-kedua {
        position: absolute;
        left: 900px;
        margin-top: 130px;
    }
    
    .h1-kedua {
        width: 250px;
        font-family: poppins;
        font-weight: 300;
        font-size: 1.2cm;
    }
    
    .p-kedua {
        width: 370px;
        font-family: poppins;
        opacity: calc(50%);
    }
    
    
    
    /* contaier 3 */
    .container-ketiga {
        width: 100%;
        height: 100vh;
        background-color: #404040;
    }
    
    .kiri-ketiga {
        position: absolute;
        left: 80px;
        margin-top: 145px;
    }
    
    .kiri-bawah-ketiga {
        position: absolute;
        left: 80px;
        margin-top: 350px;
    }
    
    .h2-ketiga {
        font-family: poppins;
        font-size: 1cm;
        font-weight: 400;
        width: 400px;
        color: white;
    }
    
    .p-ketiga {
        font-family: poppins;
        width: 430px;
        color: white;
    }
    
    .menarik {
        font-family: poppins;
        width: 430px;
        color: white;
        position: relative;
        left: 740px;
        top: 10px;
    }
    
    .trafic {
        font-family: poppins;
        width: 430px;
        color: white;
        position: relative;
        left: 740px;
        top: 120px;
    }
    
    .lapor {
        font-family: poppins;
        width: 430px;
        color: white;
        position: relative;
        left: 740px;
        top: 10px;
    }
    
    .seratus {
        font-size: 2cm;
        color: white;
        font-family: poppins;
        font-weight: 300;
    }
    
    .img-panah {
        width: 23px;
        margin-right: 5px;
    }
    
    .kepuasan {
        font-size: .5cm;
        color: white;
    }
    
    .bawahan {
        display: flex;
        color: white;
    }
    
    .img-ketiga {
        width: 6%;
        margin-left: -60px;
    }
    
    .judul-kanan-ketiga {
        align-items: center;
    }
    
    .h3-ketiga {
        margin: 90px;
    }
    
    .foto-ketiga-pertama {
        width: 6%;
        position: absolute;
        margin-top: 40px;
        margin-left: 600px;
    }
    
    .foto-ketiga-kedua {
        width: 6%;
        position: absolute;
        margin-top: 260px;
        margin-left: 600px;
    }
    
    .foto-ketiga-ketiga {
        width: 6%;
        position: absolute;
        margin-top: 490px;
        margin-left: 600px;
    }
    
    .h3-pertama {
        margin-left: 740px;
        position: relative;
        top: 10px;
        color: white;
        font-family: poppins;
        font-weight: 300;
        font-size: .6cm;
    }
    
    .h3-kedua {
        margin-left: 740px;
        position: relative;
        top: 120px;
        color: white;
        font-family: poppins;
        font-weight: 300;
        font-size: .7cm;
    }
    
    .h3-ketiga {
        margin-left: 740px;
        position: relative;
        top: 100px;
        color: white;
        font-family: poppins;
        font-weight: 300;
        font-size: .7cm;
    }
    
    /* container ke-4 */
    
    .container-4 {
        height: 100vh;
        width: 100%;
    }
    
    .container-judul-4 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: poppins;
    }
    
    .container-judul-4 h1 {
        color: #232657;
        margin-top: 60px;
    }
    
    .container-judul-4 p {
        margin: 30px 0px;
    }
    
    .img-4-1 {
        width: 14%;
        margin-left: 125px;
        margin-top: 30px;
    }
    
    .img-4-2 {
        width: 14%;
        margin-left: 125px; 
        margin-top: 60px;  
    }
    
    /* container 5 */
    .container-5 {
        height: 100vh;
        width: 100%;
        background-color: #404040;
    }
    
    .judul-kelima {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: poppins;
    }
    
    .judul-kelima h1 {
        color: #F4C21A;
        margin-top: 40px;
    }
    
    .judul-kelima p {
        color: #CCC9C1;
        margin-top: 30px;
    }
    
    .pricelist {
        display: flex;
        justify-content: space-around;
        margin-top: 70px;
    }
    
    .isi-1 {
        width: 250px;
        height: 425px;
        background-color: #D9D9D9;
        border-radius: 20px;
    }
    
    .isi-1 h3 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .7cm;
        font-family: poppins;
        color: #404040;
    }
    
    .isi-1 h2 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: 1.2cm;
        font-family: rajdhani;
        font-weight: 200;
        color: #404040;
    }
    
    .isi-1 h5 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .5cm;
        font-family: poppins;
        font-weight: 400;
        color: #404040;
    }
    
    .isi-1 img {
        margin-left: 140px;
        display: flex;
        position: relative;
        top: -27px;
    }
    
    .isi-2 {
        width: 250px;
        height: 425px;
        background-color: #D9D9D9;
        border-radius: 20px;
    }
    
    .isi-2 h3 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .7cm;
        font-family: poppins;
        color: #404040;
    }
    
    .isi-2 h2 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: 1.2cm;
        font-family: rajdhani;
        font-weight: 200;
        color: #404040;
    }
    
    .isi-2 h5 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .5cm;
        font-family: poppins;
        font-weight: 400;
        color: #404040;
    }
    
    .isi-2 img {
        margin-left: 140px;
        display: flex;
        position: relative;
        top: -27px;
    }
    
    .isi-3 {
        width: 250px;
        height: 425px;
        background-color: #D9D9D9;
        border-radius: 20px;
    }
    
    .isi-3 h3 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .7cm;
        font-family: poppins;
        color: #404040;
    }
    
    .isi-3 h2 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: 1.2cm;
        font-family: rajdhani;
        font-weight: 200;
        color: #404040;
    }
    
    .isi-3 h5 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .5cm;
        font-family: poppins;
        font-weight: 400;
        color: #404040;
    }
    
    .isi-3 img {
        margin-left: 140px;
        display: flex;
        position: relative;
        top: -27px;
    }
    
    .footer {
        height: 80px;
        width: 100%;
        background-color: #282828;
        margin-top: 150px;
        color: #9A9696;
        display: flex;
        align-items: center;
    }
    
    .footer p {
        display: flex;
        font-family: poppins;
        margin-left: 100px;
    }
    
    .footer img{
        width: 70%;
        position: relative;
        left: 800px;
    }
    
    #wa-img {
        position: relative;
        left: 850px;
        width: 33px;
        top: -2px;
    }
    
    #p-no {
        position: relative;
        left: 770px;
    }
}



/* responsive 1200px */
@media screen and (max-width: 1300px) {

    .container {
        width: 100%;
    }
    
    .container-pertama {
        background-image: url('bg1.jpeg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
    }
    
    .logo {
        width: 100px;
        height: 100px;
        position: absolute;
        right: 1000px;
        transform: translateY(10px);
    }
    
    
    .navbar {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: right;
    }
    
    .ul-navbar {
        display: flex;
        list-style-type: none;
        position: absolute;
        right: 50px;
    }
    
    .li-navbar {
        margin: 30px;
    }
    
    .a-navbar {
        color: white;
        text-decoration: none;
    }
    
    .konten-pertama {
        height: 720px;
    }
    
    .kiri {
        position: absolute;
        top: 190px;
        left: 125px;
    }
    
    .kiri h1 {
        font-size: 1.1cm;
        font-family: poppins, sans-serif;
        font-weight: 300;
        color: white;
        width: 500px;
    }
    
    button {
        width: 290px;
        height: 60px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        background-color: white;
    }
    
    button p {
        font-size: .4cm;
    }
    
    .p {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.883);
        font-family: poppins, sans-serif;
        width: 400px;
    }
    
    .wa-foto {
        position: absolute;
        left: 260px;
        bottom: 27px;
    }
    
    .lingkaran {
        position: absolute;
        left: 750px;
        top: 220px;
    }
    
    .orang {
        position: absolute;
        left: 764px;
        top: 250px;
        z-index: 1;
    }
    
    /* container 2 */
    
    .container-kedua  {
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    .fotokedua {
        width: 70%;
        margin-left: -70px;
    }
    
    .kiri-kedua {
        position: absolute;
        left: 170px;
    }
    
    .kanan-kedua {
        position: absolute;
        left: 700px;
        margin-top: 130px;
    }

    .kanan-kedua h1 {
        font-size: .8cm;
        width: 390px;
    }
    
    .h1-kedua {
        width: 250px;
        font-family: poppins;
        font-weight: 300;
        font-size: 1.2cm;
    }
    
    .p-kedua {
        width: 370px;
        font-family: poppins;
        opacity: calc(50%);
    }
    
    
    
    /* contaier 3 */
    .container-ketiga {
        width: 100%;
        height: 100vh;
        background-color: #404040;
    }
    
    .kiri-ketiga {
        position: absolute;
        left: 100px;
        margin-top: 250px;
    }
    
    .kiri-bawah-ketiga {
        position: absolute;
        left: 100px;
        margin-top: 350px;
    }
    
    .h2-ketiga {
        font-family: poppins;
        font-size: .5cm;
        font-weight: 400;
        width: 350px;
        color: white;
    }
    
    .p-ketiga {
        font-family: poppins;
        width: 320px;
        color: white;
        font-size: .4cm;
    }
    
    .menarik {
        font-family: poppins;
        font-size: .3cm;
        width: 430px;
        color: white;
        position: relative;
        left: 630px;
        top: 45px;
    }
    
    .trafic {
        font-family: poppins;
        font-size: .3cm;
        width: 370px;
        color: white;
        position: relative;
        left: 630px;
        top: 200px;
    }
    
    .lapor {
        font-family: poppins;
        font-size: .3cm;
        width: 430px;
        color: white;
        position: relative;
        left: 630px;
        top: 120px;
    }
    
    .seratus {
        font-size: 2cm;
        color: white;
        font-family: poppins;
        font-weight: 300;
    }
    
    .img-panah {
        width: 23px;
        margin-right: 5px;
    }
    
    .kepuasan {
        font-size: .5cm;
        color: white;
    }
    
    .bawahan {
        display: flex;
        color: white;
    }
    
    .img-ketiga {
        width: 6%;
        margin: 60px 0px;
        margin-left: 60px;
    }
    
    .foto-kanan {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .judul-kanan-ketiga {
        align-items: center;
    }
    
    .h3-ketiga {
        margin: 90px;
    }
    
    .foto-ketiga-pertama {
        width: 6%;
        position: absolute;
        margin-top: 40px;
        margin-left: 520px;
    }
    
    .foto-ketiga-kedua {
        width: 6%;
        position: absolute;
        margin-top: 260px;
        margin-left: 520px;
    }
    
    .foto-ketiga-ketiga {
        width: 6%;
        position: absolute;
        margin-top: 490px;
        margin-left: 520px;
    }
    
    .h3-pertama {
        margin-left: 630px;
        position: relative;
        top: 35px;
        color: white;
        font-family: poppins;
        font-weight: 300;
        font-size: .6cm;
    }
    
    .h3-kedua {
        margin-left: 630px;
        position: relative;
        top: 190px;
        color: white;
        font-family: poppins;
        font-weight: 300;
        font-size: .6cm;
        width: 450px;
    }
    
    .h3-ketiga {
        margin-left: 630px;
        position: relative;
        top: 200px;
        color: white;
        font-family: poppins;
        font-weight: 300;
        font-size: .7cm;
    }
    
    /* container ke-4 */
    
    .container-4 {
        height: 100vh;
        width: 100%;
    }
    
    .container-judul-4 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: poppins;
    }
    
    .container-judul-4 h1 {
        color: #232657;
        margin-top: 60px;
    }
    
    .container-judul-4 p {
        margin: 30px 0px;
    }
    
    .img-4-1 {
        width: 10%;
        margin-left: 125px;
        margin-top: 30px;
    }
    
    .img-4-2 {
        width: 10%;
        margin-left: 125px; 
        margin-top: 60px;  
    }
    
    /* container 5 */
    .container-5 {
        height: 100vh;
        width: 100%;
        background-color: #404040;
    }
    
    .judul-kelima {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: poppins;
    }
    
    .judul-kelima h1 {
        color: #F4C21A;
        margin-top: 40px;
    }
    
    .judul-kelima p {
        color: #CCC9C1;
        margin-top: 30px;
    }
    
    .pricelist {
        display: flex;
        justify-content: space-around;
        margin-top: 70px;
    }
    
    .isi-1 {
        width: 200px;
        height: 375px;
        background-color: #D9D9D9;
        border-radius: 20px;
    }
    
    .isi-1 h3 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .5cm;
        font-family: poppins;
        color: #404040;
    }
    
    .isi-1 h2 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .8cm;
        font-family: rajdhani;
        font-weight: 200;
        color: #404040;
    }
    
    .isi-1 h5 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .4cm;
        font-family: poppins;
        font-weight: 400;
        color: #404040;
    }
    
    .isi-1 img {
        width: 8%;
        margin-left: 125px;
        display: flex;
        position: relative;
        top: -19px;
    }
    
    .isi-2 {
        width: 200px;
        height: 375px;
        background-color: #D9D9D9;
        border-radius: 20px;
    }
    
    .isi-2 h3 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .5cm;
        font-family: poppins;
        color: #404040;
    }
    
    .isi-2 h2 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .8cm;
        font-family: rajdhani;
        font-weight: 200;
        color: #404040;
    }
    
    .isi-2 h5 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .4cm;
        font-family: poppins;
        font-weight: 400;
        color: #404040;
    }
    
    .isi-2 img {
        width: 8%;
        margin-left: 125px;
        display: flex;
        position: relative;
        top: -19px;
    }
    
    .isi-3 {
        width: 200px;
        height: 375px;
        background-color: #D9D9D9;
        border-radius: 20px;
    }
    
    .isi-3 h3 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .5cm;
        font-family: poppins;
        color: #404040;
    }
    
    .isi-3 h2 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .8cm;
        font-family: rajdhani;
        font-weight: 200;
        color: #404040;
    }
    
    .isi-3 h5 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .4cm;
        font-family: poppins;
        font-weight: 400;
        color: #404040;
    }
    
    .isi-3 img {
        width: 8%;
        margin-left: 125px;
        display: flex;
        position: relative;
        top: -19px;
    }
    
    .footer {
        height: 80px;
        width: 100%;
        background-color: #282828;
        margin-top: 150px;
        color: #9A9696;
        display: flex;
        align-items: center;
    }
    
    .footer p {
        display: flex;
        font-family: poppins;
        margin-left: 70px;
        font-size: .4cm;
    }
    
    .footer img{
        width: 70%;
        position: relative;
        left: 620px;
    }
    
    #wa-img {
        position: relative;
        left: 650px;
        width: 33px;
        top: -2px;
    }
    
    #p-no {
        position: relative;
        left: 600px;
    }
}

@media  screen and (max-width: 1100px) {

    .logo {
        width: 100px;
        height: 100px;
        position: absolute;
        right: 800px;
        transform: translateY(10px);
    }
    
    
    .navbar {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: right;
    }
    
    .ul-navbar {
        display: flex;
        list-style-type: none;
        position: absolute;
        right: 50px;
    }
    
    .li-navbar {
        margin: 30px;
    }
    
    .a-navbar {
        color: white;
        text-decoration: none;
    }
    
    .konten-pertama {
        height: 720px;
    }
    
    .kiri {
        position: absolute;
        top: 190px;
        left: 125px;
    }
    
    .kiri h1 {
        font-size: .5cm;
        font-family: poppins, sans-serif;
        font-weight: 300;
        color: white;
        width: 450px;
        margin-top: 40px;

    }
    
    button {
        width: 290px;
        height: 60px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        background-color: white;
    }
    
    button p {
        font-size: .4cm;
    }
    
    .p {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.883);
        font-family: poppins, sans-serif;
        width: 400px;
    }
    
    .wa-foto {
        position: absolute;
        left: 260px;
        bottom: 27px;
    }

    .lingkaran {
        position: absolute;
        width: 10px;
        left: 700px;
        top: 280px;
        width: 20%;
    }
    
    .orang {
        position: absolute;
        left: 705px;
        top: 291px;
        z-index: 1;
        width: 19%;
    }

    .container-kedua  {
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    .fotokedua {
        width: 70%;
        margin-left: -70px;
    }
    
    .kiri-kedua {
        position: absolute;
        left: 170px;
    }
    
    .kanan-kedua {
        position: absolute;
        left: 700px;
        margin-top: 130px;
    }

    .kanan-kedua h1 {
        font-size: .5cm;
        width: 390px;
        margin-top: 40px;
        margin-left: -150px;
    }
    
    .h1-kedua {
        width: 250px;
        font-family: poppins;
        font-weight: 300;
        font-size: 1.2cm;
    }
    
    .p-kedua {
        width: 350px;
        font-family: poppins;
        opacity: calc(50%);
        margin-left: -150px;
    }


    /* container 3 */
    .container-ketiga {
        width: 100%;
        height: 100vh;
        background-color: #404040;
    }
    
    .kiri-ketiga {
        position: absolute;
        left: 70px;
        margin-top: 240px;
    }
    
    .kiri-bawah-ketiga {
        position: absolute;
        left: 70px;
        margin-top: 270px;
    }
    
    .h2-ketiga {
        font-family: poppins;
        font-size: .4cm;
        font-weight: 400;
        width: 350px;
        color: white;
    }
    
    .p-ketiga {
        font-family: poppins;
        width: 260px;
        color: white;
        font-size: .3cm;
    }
    
    .menarik {
        font-family: poppins;
        font-size: .3cm;
        width: 300px;
        color: white;
        position: relative;
        left: 500px;
        top: 15px;
    }
    
    .trafic {
        font-family: poppins;
        font-size: .3cm;
        width: 370px;
        color: white;
        position: relative;
        left: 500px;
        top: 130px;
    }
    
    .lapor {
        font-family: poppins;
        font-size: .3cm;
        width: 400px;
        color: white;
        position: relative;
        left: 500px;
        top: 30px;
    }
    
    .seratus {
        font-size: 1.6cm;
        color: white;
        font-family: poppins;
        font-weight: 300;
    }
    
    .img-panah {
        width: 20px;
        margin-right: 5px;
    }
    
    .kepuasan {
        font-size: .4cm;
        color: white;
    }
    
    .bawahan {
        display: flex;
        color: white;
    }
    
    .img-ketiga {
        width: 6%;
        margin: 60px 0px;
        margin-left: 60px;
    }
    
    .foto-kanan {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .judul-kanan-ketiga {
        align-items: center;
    }
    
    .h3-ketiga {
        margin: 90px;
    }
    
    .foto-ketiga-pertama {
        width: 6%;
        position: absolute;
        margin-top: 20px;
        margin-left: 420px;
    }
    
    .foto-ketiga-kedua {
        width: 6%;
        position: absolute;
        margin-top: 210px;
        margin-left: 420px;
    }
    
    .foto-ketiga-ketiga {
        width: 6%;
        position: absolute;
        margin-top: 420px;
        margin-left: 420px;
    }
    
    .h3-pertama {
        margin-left: 500px;
        position: relative;
        top: 15px;
        color: white;
        font-family: poppins;
        font-weight: 300;
        font-size: .6cm;
    }
    
    .h3-kedua {
        margin-left: 500px;
        position: relative;
        top: 120px;
        color: white;
        font-family: poppins;
        font-weight: 300;
        font-size: .6cm;
        width: 450px;
    }
    
    .h3-ketiga {
        margin-left: 500px;
        position: relative;
        top: 120px;
        color: white;
        font-family: poppins;
        font-weight: 300;
        font-size: .7cm;
    }

    .footer {
        height: 80px;
        width: 100%;
        background-color: #282828;
        margin-top: 150px;
        color: #9A9696;
        display: flex;
        align-items: center;
    }
    
    .footer p {
        display: flex;
        font-family: poppins;
        margin-left: 70px;
        font-size: .4cm;
    }
    
    .footer img{
        width: 70%;
        position: relative;
        left: 500px;
    }
    
    #wa-img {
        position: relative;
        left: 520px;
        width: 33px;
        top: -2px;
    }
    
    #p-no {
        position: relative;
        left: 460px;
    }
}

/* responsive 1200px */
@media screen and (max-width: 900px) {

    .container {
        width: 100%;
    }
    
    .container-pertama {
        background-image: url('bg1.jpeg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
    }
    
    .logo {
        width: 100px;
        height: 100px;
        position: absolute;
        right: 600px;
        transform: translateY(10px);
    }
    
    
    .navbar {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: right;
    }
    
    .ul-navbar {
        display: flex;
        list-style-type: none;
        position: absolute;
        right: 50px;
    }
    
    .li-navbar {
        margin: 30px;
    }
    
    .a-navbar {
        color: white;
        text-decoration: none;
    }
    
    .konten-pertama {
        height: 720px;
    }
    
    .kiri {
        position: absolute;
        top: 190px;
        left: 195px;
    }
    
    .kiri h1 {
        font-size: 1.1cm;
        font-family: poppins, sans-serif;
        font-weight: 300;
        color: white;
        width: 500px;
    }
    
    button {
        width: 290px;
        height: 60px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        background-color: white;
    }
    
    button p {
        font-size: .4cm;
    }
    
    .p {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.883);
        font-family: poppins, sans-serif;
        width: 400px;
    }
    
    .wa-foto {
        position: absolute;
        left: 260px;
        bottom: 27px;
    }
    
    .lingkaran {
        position: absolute;
        left: 750px;
        top: 220px;
        display: none;
    }
    
    .orang {
        position: absolute;
        left: 764px;
        top: 250px;
        z-index: 1;
        display: none;
    }
    
    /* container 2 */
    
    .container-kedua  {
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    .fotokedua {
        width: 40%;
        margin-top: 60px;
        margin-left: -70px;
    }
    
    .kiri-kedua {
        position: absolute;
        left: 170px;
    }
    
    .kanan-kedua {
        position: absolute;
        left: 490px;
        margin-top: 180px;
    }

    .kanan-kedua h1 {
        font-size: .5cm;
        width: 390px;
    }
    
    .h1-kedua {
        width: 250px;
        font-family: poppins;
        font-weight: 300;
        font-size: 1.2cm;
    }
    
    .p-kedua {
        width: 300px;
        font-family: poppins;
        opacity: calc(50%);
        font-size: .3cm;
    }
    
    
    
    /* contaier 3 */
    .container-ketiga {
        width: 100%;
        height: 100vh;
        background-color: #404040;
    }
    
    .kiri-ketiga {
        position: absolute;
        left: 70px;
        margin-top: 250px;
    }
    
    .kiri-bawah-ketiga {
        position: absolute;
        left: 70px;
        margin-top: 350px;
    }
    
    .h2-ketiga {
        font-family: poppins;
        font-size: .5cm;
        font-weight: 400;
        width: 350px;
        color: white;
    }
    
    .p-ketiga {
        font-family: poppins;
        width: 320px;
        color: white;
        font-size: .4cm;
    }
    
    .menarik {
        font-family: poppins;
        font-size: .3cm;
        width: 300px;
        color: white;
        position: relative;
        left: 470px;
        top: 45px;
    }
    
    .trafic {
        font-family: poppins;
        font-size: .3cm;
        width: 300px;
        color: white;
        position: relative;
        left: 470px;
        top: 200px;
    }
    
    .lapor {
        font-family: poppins;
        font-size: .3cm;
        width: 300px;
        color: white;
        position: relative;
        left: 470px;
        top: 120px;
    }
    
    .seratus {
        font-size: 1,2cm;
        color: white;
        font-family: poppins;
        font-weight: 300;
    }
    
    .img-panah {
        width: 23px;
        margin-right: 5px;
    }
    
    .kepuasan {
        font-size: .5cm;
        color: white;
    }
    
    .bawahan {
        display: flex;
        color: white;
    }
    
    .img-ketiga {
        width: 6%;
        margin: 60px 0px;
        margin-left: 60px;
    }
    
    .foto-kanan {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .judul-kanan-ketiga {
        align-items: center;
    }
    
    .h3-ketiga {
        margin: 90px;
    }
    
    .foto-ketiga-pertama {
        width: 6%;
        position: absolute;
        margin-top: 40px;
        margin-left: 410px;
        
    }
    
    .foto-ketiga-kedua {
        width: 6%;
        position: absolute;
        margin-top: 260px;
        margin-left: 410px;
    }
    
    .foto-ketiga-ketiga {
        width: 6%;
        position: absolute;
        margin-top: 490px;
        margin-left: 410px;
    }
    
    .h3-pertama {
        margin-left: 470px;
        position: relative;
        top: 35px;
        color: white;
        font-family: poppins;
        font-weight: 300;
        font-size: .6cm;
    }
    
    .h3-kedua {
        margin-left: 470px;
        position: relative;
        top: 170px;
        color: white;
        font-family: poppins;
        font-weight: 300;
        font-size: .6cm;
        width: 300px;
    }
    
    .h3-ketiga {
        margin-left: 470px;
        position: relative;
        top: 190px;
        color: white;
        font-family: poppins;
        font-weight: 300;
        font-size: .6cm;
    }
    
    /* container ke-4 */
    
    .container-4 {
        height: 100vh;
        width: 100%;
    }
    
    .container-judul-4 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: poppins;
    }
    
    .container-judul-4 h1 {
        color: #232657;
        margin-top: 60px;
    }
    
    .container-judul-4 p {
        margin: 30px 0px;
    }
    
    .img-4-1 {
        width: 10%;
        margin-left: 125px;
        margin-top: 30px;
    }
    
    .img-4-2 {
        width: 10%;
        margin-left: 125px; 
        margin-top: 60px;  
    }
    
    /* container 5 */
    .container-5 {
        height: 100vh;
        width: 100%;
        background-color: #404040;
    }
    
    .judul-kelima {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: poppins;
    }
    
    .judul-kelima h1 {
        color: #F4C21A;
        margin-top: 40px;
    }
    
    .judul-kelima p {
        color: #CCC9C1;
        margin-top: 30px;
    }
    
    .pricelist {
        display: flex;
        justify-content: space-around;
        margin-top: 70px;
    }
    
    .isi-1 {
        width: 200px;
        height: 375px;
        background-color: #D9D9D9;
        border-radius: 20px;
    }
    
    .isi-1 h3 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .5cm;
        font-family: poppins;
        color: #404040;
    }
    
    .isi-1 h2 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .8cm;
        font-family: rajdhani;
        font-weight: 200;
        color: #404040;
    }
    
    .isi-1 h5 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .4cm;
        font-family: poppins;
        font-weight: 400;
        color: #404040;
    }
    
    .isi-1 img {
        width: 8%;
        margin-left: 125px;
        display: flex;
        position: relative;
        top: -19px;
    }
    
    .isi-2 {
        width: 200px;
        height: 375px;
        background-color: #D9D9D9;
        border-radius: 20px;
    }
    
    .isi-2 h3 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .5cm;
        font-family: poppins;
        color: #404040;
    }
    
    .isi-2 h2 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .8cm;
        font-family: rajdhani;
        font-weight: 200;
        color: #404040;
    }
    
    .isi-2 h5 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .4cm;
        font-family: poppins;
        font-weight: 400;
        color: #404040;
    }
    
    .isi-2 img {
        width: 8%;
        margin-left: 125px;
        display: flex;
        position: relative;
        top: -19px;
    }
    
    .isi-3 {
        width: 200px;
        height: 375px;
        background-color: #D9D9D9;
        border-radius: 20px;
    }
    
    .isi-3 h3 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .5cm;
        font-family: poppins;
        color: #404040;
    }
    
    .isi-3 h2 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .8cm;
        font-family: rajdhani;
        font-weight: 200;
        color: #404040;
    }
    
    .isi-3 h5 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .4cm;
        font-family: poppins;
        font-weight: 400;
        color: #404040;
    }
    
    .isi-3 img {
        width: 8%;
        margin-left: 125px;
        display: flex;
        position: relative;
        top: -19px;
    }
    
    .footer {
        height: 80px;
        width: 100%;
        background-color: #282828;
        margin-top: 150px;
        color: #9A9696;
        display: flex;
        align-items: center;
    }
    
    .footer p {
        display: flex;
        font-family: poppins;
        margin-left: 70px;
        font-size: .4cm;
    }
    
    .footer img{
        width: 70%;
        position: relative;
        left: 300px;
    }
    
    #wa-img {
        position: relative;
        left: 310px;
        width: 33px;
        top: -2px;
    }
    
    #p-no {
        position: relative;
        left: 250px;
    }
}

/* responsive 1200px */
@media screen and (max-width: 500px) {

    .container {
        width: 100%;
    }
    
    .container-pertama {
        background-image: url('bg1.jpeg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
    }
    
    .logo {
        width: 100px;
        height: 100px;
        position: absolute;
        right: 380px;
        width: 15%;
        height: 10%;
        transform: translateY(10px);
    }
    
    
    .navbar {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: right;
    }
    
    .ul-navbar {
        display: flex;
        list-style-type: none;
        position: absolute;
        right: 20px;
    }
    
    .li-navbar {
        margin: 30px;
        font-size: .3cm;
    }
    
    .a-navbar {
        color: white;
        text-decoration: none;
    }
    
    .konten-pertama {
        height: 720px;
    }
    
    .kiri {
        position: absolute;
        top: 190px;
        left: 50px;
    }
    
    .kiri h1 {
        font-size: 1.1cm;
        font-family: poppins, sans-serif;
        font-weight: 300;
        color: white;
        width: 500px;
    }
    
    button {
        width: 290px;
        height: 60px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        background-color: white;
    }
    
    button p {
        font-size: .4cm;
    }
    
    .p {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.883);
        font-family: poppins, sans-serif;
        width: 400px;
    }
    
    .wa-foto {
        position: absolute;
        left: 260px;
        bottom: 27px;
    }
    
    .lingkaran {
        position: absolute;
        left: 750px;
        top: 220px;
    }
    
    .orang {
        position: absolute;
        left: 764px;
        top: 250px;
        z-index: 1;
    }
    
    /* container 2 */
    
    .container-kedua  {
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    .fotokedua {
        width: 50%;
        margin-left: -20px;
        margin-top: 1px;
    }
    
    .kiri-kedua {
        position: absolute;
        left: 170px;
    }
    
    .kanan-kedua {
        position: absolute;
        left: 200px;
        margin-top: 250px;
    }

    .kanan-kedua h1 {
        font-size: .8cm;
        width: 390px;
    }
    
    .h1-kedua {
        width: 250px;
        font-family: poppins;
        font-weight: 300;
        font-size: 1.2cm;
    }
    
    .p-kedua {
        width: 370px;
        font-family: poppins;
        opacity: calc(50%);
    }
    
    
    
    /* contaier 3 */
    .container-ketiga {
        width: 100%;
        height: 100vh;
        background-color: #404040;
    }
    
    .kiri-ketiga {
        position: absolute;
        left: 100px;
        margin-top: 250px;
    }
    
    .kiri-bawah-ketiga {
        position: absolute;
        left: 100px;
        margin-top: 350px;
    }
    
    .h2-ketiga {
        font-family: poppins;
        font-size: .5cm;
        font-weight: 400;
        width: 350px;
        color: white;
    }
    
    .p-ketiga {
        font-family: poppins;
        width: 320px;
        color: white;
        font-size: .4cm;
    }
    
    .menarik {
        font-family: poppins;
        font-size: .3cm;
        width: 430px;
        color: white;
        position: relative;
        left: 630px;
        top: 45px;
        display: none;
    }
    
    .trafic {
        font-family: poppins;
        font-size: .3cm;
        width: 370px;
        color: white;
        position: relative;
        left: 630px;
        top: 200px;
        display: none;
    }
    
    .lapor {
        font-family: poppins;
        font-size: .3cm;
        width: 430px;
        color: white;
        position: relative;
        left: 630px;
        top: 120px;
        display: none;
    }
    
    .seratus {
        font-size: 2cm;
        color: white;
        font-family: poppins;
        font-weight: 300;
    }
    
    .img-panah {
        width: 23px;
        margin-right: 5px;
    }
    
    .kepuasan {
        font-size: .5cm;
        color: white;
    }
    
    .bawahan {
        display: flex;
        color: white;
    }
    
    .img-ketiga {
        width: 6%;
        margin: 60px 0px;
        margin-left: 60px;
    }
    
    .foto-kanan {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    
    .h3-ketiga {
        margin: 90px;
    }
    
    .foto-ketiga-pertama {
        width: 6%;
        position: absolute;
        margin-top: 40px;
        margin-left: 520px;
        display: none;
    }
    
    .foto-ketiga-kedua {
        width: 6%;
        position: absolute;
        margin-top: 260px;
        margin-left: 520px;
        display: none;
    }
    
    .foto-ketiga-ketiga {
        width: 6%;
        position: absolute;
        margin-top: 490px;
        margin-left: 520px;
        display: none;
    }
    
    .h3-pertama {
        margin-left: 630px;
        position: relative;
        top: 35px;
        color: white;
        font-family: poppins;
        font-weight: 300;
        font-size: .6cm;
        display: none;
    }
    
    .h3-kedua {
        margin-left: 630px;
        position: relative;
        top: 190px;
        color: white;
        font-family: poppins;
        font-weight: 300;
        font-size: .6cm;
        width: 450px;
        display: none;
    }
    
    .h3-ketiga {
        margin-left: 630px;
        position: relative;
        top: 200px;
        color: white;
        font-family: poppins;
        font-weight: 300;
        font-size: .7cm;
        display: none;
    }
    
    /* container ke-4 */
    
    .container-4 {
        height: 100vh;
        width: 100%;
    }
    
    .container-judul-4 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: poppins;
    }
    
    .container-judul-4 h1 {
        color: #232657;
        margin-top: 60px;
    }
    
    .container-judul-4 p {
        margin: 30px 0px;
        margin-left: 40px;
    }
    
    .img-4-1 {
        width: 10%;
        margin-left: 125px;
        margin-top: 30px;
    }
    
    .img-4-2 {
        width: 10%;
        margin-left: 125px; 
        margin-top: 60px;  
    }
    
    /* container 5 */
    .container-5 {
        height: 100vh;
        width: 100%;
        background-color: #404040;
    }
    
    .judul-kelima {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: poppins;
    }
    
    .judul-kelima h1 {
        color: #F4C21A;
        margin-top: 40px;
    }
    
    .judul-kelima p {
        color: #CCC9C1;
        margin-top: 30px;
    }
    
    .pricelist {
        display: flex;
        justify-content: space-around;
        margin-top: 70px;
    }
    
    .isi-1 {
        width: 170px;
        height: 300px;
        background-color: #D9D9D9;
        border-radius: 20px;
    }
    
    .isi-1 h3 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .5cm;
        font-family: poppins;
        color: #404040;
    }
    
    .isi-1 h2 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .8cm;
        font-family: rajdhani;
        font-weight: 200;
        color: #404040;
    }
    
    .isi-1 h5 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .4cm;
        font-family: poppins;
        font-weight: 400;
        color: #404040;
    }
    
    .isi-1 img {
        width: 8%;
        margin-left: 125px;
        display: flex;
        position: relative;
        top: -19px;
    }
    
    .isi-2 {
        width: 170px;
        height: 300px;
        background-color: #D9D9D9;
        border-radius: 20px;
    }
    
    .isi-2 h3 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .5cm;
        font-family: poppins;
        color: #404040;
    }
    
    .isi-2 h2 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .8cm;
        font-family: rajdhani;
        font-weight: 200;
        color: #404040;
    }
    
    .isi-2 h5 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .4cm;
        font-family: poppins;
        font-weight: 400;
        color: #404040;
    }
    
    .isi-2 img {
        width: 8%;
        margin-left: 125px;
        display: flex;
        position: relative;
        top: -19px;
    }
    
    .isi-3 {
        width: 170px;
        height: 300px;
        background-color: #D9D9D9;
        border-radius: 20px;
    }
    
    .isi-3 h3 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .5cm;
        font-family: poppins;
        color: #404040;
    }
    
    .isi-3 h2 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .8cm;
        font-family: rajdhani;
        font-weight: 200;
        color: #404040;
    }
    
    .isi-3 h5 {
        margin-left: 30px;
        margin-top: 30px;
        font-size: .4cm;
        font-family: poppins;
        font-weight: 400;
        color: #404040;
    }
    
    .isi-3 img {
        width: 8%;
        margin-left: 125px;
        display: flex;
        position: relative;
        top: -19px;
    }
    
    .footer {
        height: 80px;
        width: 100%;
        background-color: #282828;
        margin-top: 150px;
        color: #9A9696;
        display: flex;
        align-items: center;
    }
    
    .footer p {
        display: flex;
        font-family: poppins;
        margin-left: 40px;
        font-size: .4cm;
    }
    
    .footer img{
        width: 70%;
        position: relative;
        left: 60px;
    }
    
    #wa-img {
        position: relative;
        left: 70px;
        width: 33px;
        top: -2px;
    }
    
    #p-no {
        position: relative;
        left: 50px;
    }
}